* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen";
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    height: 50px;
    min-width: 118px;
    padding: 0 16px;
    background: #171100;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

.text {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* header */
.header {
    background: #fffcf4;
    padding-top: 28px;
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.header .nav li.active a,
.header .nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.header .nav li.active a::after {
    position: absolute;
    content: "";
    display: block;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.action-btn {
    margin-left: 49px;
    min-width: 144px;
}

/* hero */
.hero {
    background: #fffcf4;
    padding: 56px 0 65px;
}

.hero .body {
    display: flex;
}

.hero .media-bock {
    width: 49%;
    display: flex;
    position: relative;
}

.hero .media-bock .img-block {
    width: 470px;
    height: 695px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .media-bock .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    background-color: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.hero-summary .item:nth-child(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
    background: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .item {
    margin-top: 14px;
}

.hero-summary .item:first-child {
    margin-top: 0;
}

.hero-summary .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .info-block {
    width: 51%;
    padding-left: 130px;
}

.info-block .heading {
    margin-top: 64px;
    width: 470px;
    font-family: var(--font-heading), sans-serif;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.info-block .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.info-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.info-block .cta-group .btn-cta {
    min-width: 180px;
    height: 64px;
    background-color: var(--primary-color);
    line-height: 64px;
}

.hero .cta-group button {
    margin-left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero button .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.hero button span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .stats {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero .stats strong:first-child {
    padding-left: 0;
}

/* popular */

.popular {
    padding: 200px 0;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-top .title {
    font-family: var(--font-heading), sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular .popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular .control-group {
    display: flex;
    gap: 18px;
}

.popular .control-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ffb900;
    background: transparent;
    color: var(--primary-color);
    border-radius: 50%;
}

.popular .control-group button:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.popular .courses-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .courses-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .courses-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .courses-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.popular .courses-item .info {
    padding: 16px 22px 22px 22px;
}

.popular .courses-item .head,
.popular .courses-item .rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .courses-item .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.76;
    color: #171100;
}

.popular .courses-item .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular .courses-item .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .courses-item .foot {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .courses-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* feedback */
.feedback {
    padding: 96px 0;
    background: #2e2100;
    overflow: hidden;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback .info img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .feedback-item .title {
    font-family: var(--font-heading);
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback .feedback-item .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.68;
    color: #bfbcb3;
}

.feedback .feedback-item .dots {
    margin-top: 28px;
}

.feedback .feedback-item .dot {
    margin-right: 6px;
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
    cursor: pointer;
}

.feedback .feedback-item .dot.active {
    background: var(--primary-color);
}

.feedback .content {
    display: flex;
    width: 65%;
    margin-left: auto;
}

.feedback .content img {
    width: 30px;
    height: 28px;
}

.feedback .content blockquote {
    margin-top: 28px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* feature 1 */
.feature {
    padding-top: 200px;
}

.feature .body {
    display: flex;
    justify-content: space-between;
}

.feature .img {
    display: flex;
    gap: 30px;
}

.feature .img img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.feature .img .lower {
    margin-top: 34px;
}

.feature .content {
    width: 41%;
}

.feature .content .title {
    font-family: var(--font-heading), sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.feature .content .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.feature .content .btn-cta {
    margin-top: 32px;
    min-width: 137px;
    background: var(--primary-color);
    color: #fff;
}

/* feature 2 */
.feature-2nd {
    padding-bottom: 200px;
}

.feature-2nd .body {
    flex-direction: row-reverse;
}

.feature-2nd .content {
    width: 49%;
    margin-top: 71px;
}

.feature-2nd .img img {
    width: 470px;
    height: 440px;
    margin-top: 0;
}

/* blog */
.blog {
    padding: 96px 0;
}

.blog .heading {
    font-family: var(--font-heading), sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog .desc {
    margin: 0 auto;
    width: 38%;
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #696262;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    flex-shrink: 0;
    overflow: hidden;
}

.blog .blog-item {
    width: 33.33%;
    border-radius: 16px;
}

.blog .blog-item:hover {
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
}

.blog .blog-item img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .info {
    margin: 20px 20px 28px;
}

.blog .info .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog .info .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffb900;
}

.blog .info .date::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 1px;
    width: calc(100% + 27px);
    background: #e2dfda;
    border-radius: 0.5px;
    left: 0;
    bottom: 0;
}

.blog .info .title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .info .btn {
    margin-top: 24px;
    font-size: 1.4rem;
}

.blog .info .btn:hover {
    background: var(--primary-color);
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    gap: 6px;
    justify-content: center;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
}

.blog .dot.active {
    background: var(--primary-color);
}
